/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  overflow: hidden;
}

h1, h2, h3 {
  color: #000;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #555;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

p a:hover {
  opacity: 0.75;
}

main {
  background-image: radial-gradient( circle farthest-corner at -2.2% -3.8%,  rgba(255,227,2,0.41) 0%, rgba(59,188,241,1) 100.2% );
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: auto;
  width: 380px;
  text-align: center;
  background: #fff;
  padding: 40px;
  border-radius: 4px;
  box-shadow: #fff 0px 0px 100px;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

}

@keyframes slideDown {
	0% {
		transform: translateY(-10%);
    opacity: 0;
	}
	100% {
		transform: translateY(0%);
    opacity: 1;
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-10%);
    opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0%);
    opacity: 1;
	}
}


.top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.left {}

.right {
  text-align: left;
}

.card h1 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.card h2 {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.card p {
  margin-bottom: 20px;
  line-height: 1.4;
  text-align: center;
}

.profile-pic-link {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.profile-pic {
  border-radius: 50%;
  max-height: 70px;
}

.profile-pic:hover {
  cursor: pointer;
  opacity: 0.85;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.links .fa {
  font-size: 24px;
  color: #333;
}

.links .fa:hover {
  opacity: 0.75;
}

@media (max-width: 767px) {
  .card {
    max-width: 100%;
    padding: 15px;
  }
}
